







@font-face {
   font-family: myFirstFont;
   src: url(../fonts/W95FA.otf);
}
 


body {
	background-color:#232a3c;
	//background-color:black;
	

  background-image: url("/test.png");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;

	
}

* {
   font-family: myFirstFont;
   letter-spacing: 1.5px;

}

.banner {
        width: 100%;
        height: 100%;
      }

.welc {
  background-color: ;
  margin: auto;
  position: ;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: #243d81;
  border-top-style: solid;
	//border-radius: 0px 0px 15px 15px;
  background-color: #243d81;
  text-align: left;
    	border-width:7px;      padding:6px;
 // background-image: url("huh.png");
   object-fit: scale-down;


}


	  
.header {
  background-color: ;
  margin: auto;
  position: ;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: #243d81;
  border-top-style: solid;
	//border-radius: 0px 0px 15px 15px;
  background-color: #36529d;
  text-align: left;
    	border-width:7px;      padding:6px;

}

.textbox {
	
	 background-color: ;
  margin: auto;
  position: ;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: #243d81;
  border-top-style: solid;
	//border-radius: 0px 0px 15px 15px;
  background-color: #36529d;
    	border-width:7px;   padding:6px;
	
}

@media only screen and (min-width: 600px) {
  .textbox,.header,.welc
  {
	  width: 82%;
	  }

 .welc {
	height:3em;
 }


}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

 .textbox,.header,.welc
  {
	  width: 62%;


	  }

 .welc {
	    height:33em;
	  }


	

} 

//@media only screen and (max-width: 600px) {

//.buttongone {
     //opacity:0;
//}
	
//}

.headerlinks{
	padding:5px;
	font-size:22px;
}

.a {
	//display:inline;
	padding:2px;

}

a:link {
  color:white;
  text-decoration: none;
}
a:visited {
  color: #d3d8e6;
  text-decoration: none;
}
a:hover {
  color: #d3d8e6;
    text-decoration: none;

}
.a2:hover, .a2 {
    text-decoration: none;
	color:white;
}

a:active {
  color:  #d3d8e6;
    text-decoration: none;

}
p {
	padding:2px;
	font-size:15px;
	  position:relative;
  left:4px;
  color:white;

}


.postupdate {
  padding: 0px;
  font-size: 11px;
  float: right;
  padding: -19px;
  margin: 4px;
}



button {
	border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: #243d81;
  border-top-style: solid;
	//border-radius: 0px 0px 15px 15px;
  background-color: #36529d;
    	border-width:3px;      padding:6px;

}

 




.img-content {
	    border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: #243d81;
  border-top-style: solid;

}

h1,h2,h3,h4,h5,h6,ul,li,ol,figcaption {
	color:white;
	
}





.footer {
	margin:auto
}


li , ul {
	list-style-type:square;
}



